.parallax-index, .parallax-plantilla, .parallax-club, .parallax-historia, .parallax-contacto {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }

.parallax-index .fa-chevron-down, .parallax-plantilla .fa-chevron-down, .parallax-club .fa-chevron-down, .parallax-historia .fa-chevron-down, .parallax-contacto .fa-chevron-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  color: white;
  font-size: 1.5rem;
  opacity: 0.5;
  animation: bounce; }

.main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7, .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px;
  transition: all 0.5s; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif !important; }

.navbar {
  background-image: repeating-linear-gradient(135deg, rgba(24, 24, 24, 0.07) 0px, rgba(24, 24, 24, 0.07) 2px, transparent 2px, transparent 4px), repeating-linear-gradient(45deg, rgba(24, 24, 24, 0.07) 0px, rgba(24, 24, 24, 0.07) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #aa2a2e, rgba(178, 16, 30, 0.65));
  position: fixed;
  z-index: +2;
  width: 100%;
  font-weight: bolder;
  font-family: "Barlow", sans-serif; }
  .navbar .nav-cannon {
    height: 50px; }
  .navbar .nav-logos {
    width: 300px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 576px) {
      .navbar .nav-logos {
        width: 200px; } }
    .navbar .nav-logos .nav-logos-img {
      width: 30px; }
    .navbar .nav-logos .nav-logos-img:hover {
      transform: scale(1.2, 1.2); }
      @media only screen and (max-width: 576px) {
        .navbar .nav-logos .nav-logos-img:hover {
          transform: scale(1, 1); } }
      @media only screen and (min-width: 576px) and (max-width: 768px) {
        .navbar .nav-logos .nav-logos-img:hover {
          transform: scale(1, 1); } }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        .navbar .nav-logos .nav-logos-img:hover {
          transform: scale(1, 1); } }
  .navbar .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .navbar .navbar-nav .nav-item {
      width: auto;
      position: relative;
      text-transform: uppercase;
      display: flex; }
      .navbar .navbar-nav .nav-item .nav-link {
        margin: auto; }
      .navbar .navbar-nav .nav-item .current {
        font-size: 1.5rem; }
    .navbar .navbar-nav .line a:after {
      content: "";
      position: absolute;
      background-color: white;
      height: 2px;
      bottom: 0.5rem;
      width: 0;
      left: 0;
      transition: 0.3s; }
    .navbar .navbar-nav .line a:hover:after {
      width: 100%; }
      @media only screen and (max-width: 576px) {
        .navbar .navbar-nav .line a:hover:after {
          width: 0; } }
      @media only screen and (min-width: 576px) and (max-width: 768px) {
        .navbar .navbar-nav .line a:hover:after {
          width: 0; } }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        .navbar .navbar-nav .line a:hover:after {
          width: 0; } }

header {
  height: auto; }

.parallax-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), repeating-linear-gradient(135deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0)), url(../imagenes/index/arsenal_fans.jpg); }
  .parallax-index .fa-chevron-down:hover {
    opacity: 1; }

.parallax-plantilla {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), repeating-linear-gradient(135deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0)), url(../imagenes/plantilla/squad-photo.jpg); }
  .parallax-plantilla .fa-chevron-down:hover {
    opacity: 1; }

.parallax-club {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), repeating-linear-gradient(135deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0)), url(../imagenes/club/es.jpg); }
  .parallax-club .fa-chevron-down:hover {
    opacity: 1; }

.parallax-historia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), repeating-linear-gradient(135deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0)), url(../imagenes/historia/goldPremier.jpg); }
  .parallax-historia .fa-chevron-down:hover {
    opacity: 1; }

.parallax-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), linear-gradient(45deg, rgba(250, 250, 250, 0), transparent), repeating-linear-gradient(135deg, rgba(44, 44, 44, 0.1) 0px, rgba(44, 44, 44, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0)), url(../imagenes/contacto/goonersAmerica.jpg); }
  .parallax-contacto .fa-chevron-down:hover {
    opacity: 1; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(24, 24, 24, 0.07) 0px, rgba(24, 24, 24, 0.07) 2px, transparent 2px, transparent 4px), repeating-linear-gradient(45deg, rgba(24, 24, 24, 0.07) 0px, rgba(24, 24, 24, 0.07) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #aa2a2e, rgba(178, 16, 30, 0.65)); }
  footer .footer-flex {
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media only screen and (max-width: 576px) {
      footer .footer-flex {
        width: 95%; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      footer .footer-flex {
        width: 95%; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      footer .footer-flex {
        width: 95%; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      footer .footer-flex {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      footer .footer-flex {
        width: 90%; } }
    footer .footer-flex .arrow-up {
      position: absolute; }
      footer .footer-flex .arrow-up .fa-chevron-up {
        background-color: #063672;
        padding: 0.5rem;
        border-radius: 25px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: white;
        font-size: 2rem;
        opacity: 0.5; }
      footer .footer-flex .arrow-up .fa-chevron-up:hover {
        opacity: 1; }
    footer .footer-flex .media {
      height: 35%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 576px) {
        footer .footer-flex .media {
          height: 20%; } }
      footer .footer-flex .media .media-text {
        height: auto;
        color: transparent;
        text-transform: uppercase;
        font-family: "Barlow", sans-serif;
        font-size: 8rem;
        font-weight: bold;
        font-weight: 900;
        letter-spacing: 2vw;
        background-image: url(../imagenes/giphy.gif);
        background-clip: text;
        -webkit-background-clip: text;
        -o-background-clip: text;
        -ms-background-clip: text;
        background-size: cover;
        background-position: center; }
        @media only screen and (max-width: 576px) {
          footer .footer-flex .media .media-text {
            font-size: 4rem; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          footer .footer-flex .media .media-text {
            font-size: 5rem; } }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          footer .footer-flex .media .media-text {
            font-size: 6.5rem; } }
    footer .footer-flex .ads {
      display: flex;
      flex-flow: row nowrap;
      height: 75px;
      justify-content: space-evenly;
      text-align: center;
      align-items: center; }
      @media only screen and (max-width: 576px) {
        footer .footer-flex .ads {
          display: flex;
          flex-flow: row wrap;
          height: auto;
          justify-content: space-evenly;
          text-align: center;
          align-items: center; } }
      @media only screen and (max-width: 576px) {
        footer .footer-flex .ads a {
          padding: 0.2rem; } }
      footer .footer-flex .ads .logo-footer {
        height: 41.7px; }
      footer .footer-flex .ads .logo-footer:hover {
        transform: scale(1.2, 1.2); }
        @media only screen and (max-width: 576px) {
          footer .footer-flex .ads .logo-footer:hover {
            transform: scale(1, 1); } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          footer .footer-flex .ads .logo-footer:hover {
            transform: scale(1, 1); } }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          footer .footer-flex .ads .logo-footer:hover {
            transform: scale(1, 1); } }
    footer .footer-flex .extra {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media only screen and (max-width: 576px) {
        footer .footer-flex .extra {
          height: 50%; } }
      footer .footer-flex .extra .info {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        footer .footer-flex .extra .info .info-list {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          text-align: center; }
          footer .footer-flex .extra .info .info-list .list-item {
            list-style-type: none;
            width: auto; }
            @media only screen and (min-width: 992px) and (max-width: 1200px) {
              footer .footer-flex .extra .info .info-list .list-item {
                width: 25%; } }
            footer .footer-flex .extra .info .info-list .list-item .list-item-link {
              color: white;
              text-decoration: none;
              position: relative;
              font-weight: lighter;
              font-weight: 400;
              font-family: "Barlow", sans-serif; }
            footer .footer-flex .extra .info .info-list .list-item .list-item-link:after {
              content: "";
              position: absolute;
              background-color: white;
              height: 2px;
              bottom: -0.4rem;
              width: 0;
              left: 0;
              transition: 0.3s; }
            footer .footer-flex .extra .info .info-list .list-item .list-item-link:hover:after {
              width: 100%; }
      footer .footer-flex .extra .newsletter {
        height: 25%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        @media only screen and (max-width: 576px) {
          footer .footer-flex .extra .newsletter {
            flex-direction: column; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          footer .footer-flex .extra .newsletter {
            flex-direction: column; } }
        footer .footer-flex .extra .newsletter .newsletter-text {
          color: white;
          font-weight: lighter;
          font-weight: 400;
          margin: 0;
          font-family: "Barlow", sans-serif; }
          @media only screen and (max-width: 576px) {
            footer .footer-flex .extra .newsletter .newsletter-text {
              margin: 0;
              margin-bottom: 10px; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            footer .footer-flex .extra .newsletter .newsletter-text {
              margin: 0;
              margin-bottom: 10px; } }
        footer .footer-flex .extra .newsletter .sub-form {
          border: 2px solid white;
          border-radius: 10px;
          margin-left: 1rem;
          padding-right: 0.5rem; }
          footer .footer-flex .extra .newsletter .sub-form .sub {
            background: none;
            border: none;
            outline: none;
            color: white;
            margin: auto 0;
            padding: 0.5rem 3rem 0.5rem 0.5rem; }
          footer .footer-flex .extra .newsletter .sub-form .sub::placeholder {
            color: white;
            font-size: 0.8rem;
            border: none;
            font-family: "Barlow", sans-serif; }
          footer .footer-flex .extra .newsletter .sub-form .newsletter-button {
            color: white;
            border: none;
            background-color: transparent;
            outline: none; }
            footer .footer-flex .extra .newsletter .sub-form .newsletter-button .button-i {
              font-size: 1.2rem;
              opacity: 0.5; }
              @media only screen and (max-width: 576px) {
                footer .footer-flex .extra .newsletter .sub-form .newsletter-button .button-i {
                  opacity: 1; } }
              @media only screen and (min-width: 576px) and (max-width: 768px) {
                footer .footer-flex .extra .newsletter .sub-form .newsletter-button .button-i {
                  opacity: 1; } }
              @media only screen and (min-width: 768px) and (max-width: 992px) {
                footer .footer-flex .extra .newsletter .sub-form .newsletter-button .button-i {
                  opacity: 1; } }
            footer .footer-flex .extra .newsletter .sub-form .newsletter-button .button-i:hover {
              opacity: 1; }
      footer .footer-flex .extra .copyright {
        height: 30%;
        border-top: 2px solid white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-end; }
        footer .footer-flex .extra .copyright .copyright1 {
          height: 40%;
          color: white; }
        footer .footer-flex .extra .copyright .copyright2 {
          height: 40%; }
          footer .footer-flex .extra .copyright .copyright2 .copy-icon {
            padding: 0 0.5rem; }
          footer .footer-flex .extra .copyright .copyright2 .fa-github, footer .footer-flex .extra .copyright .copyright2 .fa-linkedin-in {
            color: white; }

.main-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white); }
  .main-flex .contenido-index {
    width: 70%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 850px 850px;
    grid-template-areas: "news liga" "news podcast"; }
    @media only screen and (max-width: 576px) {
      .main-flex .contenido-index {
        width: 95%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 850px 850px;
        grid-template-areas: "news" "liga" "podcast"; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      .main-flex .contenido-index {
        width: 95%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1700px 850px 850px;
        grid-template-areas: "news" "liga" "podcast"; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .main-flex .contenido-index {
        width: 95%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1700px 850px;
        grid-template-areas: "news news" "liga podcast"; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main-flex .contenido-index {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .main-flex .contenido-index {
        width: 90%; } }
    .main-flex .contenido-index .news {
      height: auto;
      grid-area: news;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      border-radius: 2rem;
      margin: 85px 5% 60px 5%;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      @media only screen and (max-width: 576px) {
        .main-flex .contenido-index .news {
          margin: 85px 2.5% 60px 2.5%; } }
      @media only screen and (min-width: 576px) and (max-width: 768px) {
        .main-flex .contenido-index .news {
          margin: 85px 2.5% 60px 2.5%; } }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        .main-flex .contenido-index .news {
          margin: 85px 2.5% 60px 2.5%; } }
      .main-flex .contenido-index .news .div-tittle-news {
        height: auto; }
        .main-flex .contenido-index .news .div-tittle-news .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-index .news .div-flex-news {
        height: 95%;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas: "noticia1 noticia2" "noticia3 noticia4" "noticia5 noticia6" "noticia7 noticia8";
        justify-content: space-around;
        align-content: space-around; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-index .news .div-flex-news {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: auto; } }
        .main-flex .contenido-index .news .div-flex-news .hero-image {
          overflow: hidden;
          border-radius: 30px; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-index .news .div-flex-news .hero-image {
              width: 90%;
              height: 300px;
              margin: 2rem 0; } }
          .main-flex .contenido-index .news .div-flex-news .hero-image .text-news {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            font-weight: bolder;
            font-weight: 600;
            position: absolute;
            bottom: 5%;
            padding: 0 10% 0 10%;
            text-align: center;
            transition: all 5s;
            font-family: "Barlow", sans-serif; }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/benwhite.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/ray-kennedy.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/potm.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/arteta.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/viv.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/old-trafford.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/no-racism.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8 {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.95)), url(../imagenes/index/novedades/ianis.jpg); }
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7:hover,
          .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8:hover {
            transform: scale(1.1, 1.1);
            filter: grayscale(80%);
            transition: all 0.5s; }
            @media only screen and (max-width: 576px) {
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8:hover {
                transform: scale(1, 1);
                filter: grayscale(0);
                transition: all 0.5s; } }
            @media only screen and (min-width: 576px) and (max-width: 768px) {
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8:hover {
                transform: scale(1, 1);
                filter: grayscale(0);
                transition: all 0.5s; } }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia1:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia2:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia3:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia4:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia5:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia6:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia7:hover,
              .main-flex .contenido-index .news .div-flex-news .hero-image .hero-image-noticia8:hover {
                transform: scale(1, 1);
                filter: grayscale(0);
                transition: all 0.5s; } }
    .main-flex .contenido-index .liga {
      grid-area: liga;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 2rem;
      margin: 0 5%;
      margin-top: 85px;
      margin-bottom: 60px;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-index .liga .div-tittle {
        height: auto; }
        .main-flex .contenido-index .liga .div-tittle .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-index .liga .table th, .main-flex .contenido-index .liga .table td {
        padding: 0.1rem 0; }
      .main-flex .contenido-index .liga .shield {
        text-align: center; }
      .main-flex .contenido-index .liga .logo-tabla {
        height: 20px;
        padding-left: 0.5rem; }
    .main-flex .contenido-index .podcast {
      grid-area: podcast;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: space-between;
      height: auto;
      border-radius: 2rem;
      margin: 60px 5%;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      @media only screen and (max-width: 576px) {
        .main-flex .contenido-index .podcast {
          margin-top: 85px; } }
      @media only screen and (min-width: 576px) and (max-width: 768px) {
        .main-flex .contenido-index .podcast {
          margin-top: 85px; } }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        .main-flex .contenido-index .podcast {
          margin-top: 85px; } }
      .main-flex .contenido-index .podcast .div-tittle {
        height: auto; }
        .main-flex .contenido-index .podcast .div-tittle .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-index .podcast .div-podcast {
        height: 90%;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        justify-content: space-around; }
        .main-flex .contenido-index .podcast .div-podcast .podcast1 {
          height: 30%;
          width: 90%;
          margin: 0 auto; }
          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            .main-flex .contenido-index .podcast .div-podcast .podcast1 {
              width: 95%; } }

.main-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white); }
  .main-flex .contenido-plantilla {
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-gap: 1rem;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 6rem 0; }
    @media only screen and (max-width: 576px) {
      .main-flex .contenido-plantilla {
        width: 95%; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      .main-flex .contenido-plantilla {
        width: 95%; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .main-flex .contenido-plantilla {
        width: 95%; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main-flex .contenido-plantilla {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .main-flex .contenido-plantilla {
        width: 90%; } }
    .main-flex .contenido-plantilla .flex-plantilla {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      border-radius: 10px;
      overflow: hidden; }
      .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem {
        height: auto;
        box-shadow: #26394d 0px 20px 30px -10px; }
        .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem .plantilla-img {
          width: 100%;
          height: auto; }
      .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem2 {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644)); }
        .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem2 .plantilla-text1 {
          padding: 10px 5px 10px 5px; }
        .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem2 .plantilla-text2 {
          padding: 10px 5px 10px 5px;
          text-align: right; }
        .main-flex .contenido-plantilla .flex-plantilla .plantilla-flexitem2 p {
          margin: 0;
          color: white; }

.main-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white); }
  .main-flex .contenido-club {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    height: auto; }
    @media only screen and (max-width: 576px) {
      .main-flex .contenido-club {
        width: 95%; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      .main-flex .contenido-club {
        width: 95%; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .main-flex .contenido-club {
        width: 95%; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main-flex .contenido-club {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .main-flex .contenido-club {
        width: 90%; } }
    .main-flex .contenido-club .emirates {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      margin: 85px 0 60px 0;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-club .emirates .emirates1 {
        height: auto; }
        .main-flex .contenido-club .emirates .emirates1 .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-club .emirates .emirates2 {
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        padding: 2rem 0;
        align-items: center; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-club .emirates .emirates2 {
            flex-direction: column; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          .main-flex .contenido-club .emirates .emirates2 {
            flex-direction: column; } }
        .main-flex .contenido-club .emirates .emirates2 .club-text {
          min-height: 300px;
          width: 60%; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-club .emirates .emirates2 .club-text {
              width: 100%;
              margin-bottom: 60px; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-club .emirates .emirates2 .club-text {
              width: 100%;
              margin-bottom: 60px; } }
          .main-flex .contenido-club .emirates .emirates2 .club-text p {
            width: 80%;
            margin: auto; }
        .main-flex .contenido-club .emirates .emirates2 .club-iframe {
          width: 40%;
          text-align: center; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-club .emirates .emirates2 .club-iframe {
              width: 80%;
              height: 300px;
              margin-bottom: 1rem; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-club .emirates .emirates2 .club-iframe {
              width: 80%; } }
          .main-flex .contenido-club .emirates .emirates2 .club-iframe .club-map {
            width: 100%;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }
            @media only screen and (max-width: 576px) {
              .main-flex .contenido-club .emirates .emirates2 .club-iframe .club-map {
                height: 100%; } }
      .main-flex .contenido-club .emirates .emirates3 {
        height: auto; }
        .main-flex .contenido-club .emirates .emirates3 img {
          width: 100%;
          height: auto;
          filter: saturate(50%); }
    .main-flex .contenido-club .colney {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      margin: 85px 0 60px 0;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-club .colney .emirates1 {
        height: auto; }
        .main-flex .contenido-club .colney .emirates1 .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-club .colney .emirates2 {
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        padding: 2rem 0;
        align-items: center; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-club .colney .emirates2 {
            flex-direction: column; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          .main-flex .contenido-club .colney .emirates2 {
            flex-direction: column; } }
        .main-flex .contenido-club .colney .emirates2 .club-text {
          min-height: 300px;
          width: 60%; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-club .colney .emirates2 .club-text {
              width: 100%;
              margin-bottom: 60px; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-club .colney .emirates2 .club-text {
              width: 100%;
              margin-bottom: 60px; } }
          .main-flex .contenido-club .colney .emirates2 .club-text p {
            width: 80%;
            margin: auto; }
        .main-flex .contenido-club .colney .emirates2 .club-iframe {
          width: 40%;
          text-align: center; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-club .colney .emirates2 .club-iframe {
              width: 80%;
              height: 300px;
              margin-bottom: 1rem; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-club .colney .emirates2 .club-iframe {
              width: 80%; } }
          .main-flex .contenido-club .colney .emirates2 .club-iframe .club-map {
            width: 100%;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }
            @media only screen and (max-width: 576px) {
              .main-flex .contenido-club .colney .emirates2 .club-iframe .club-map {
                height: 100%; } }
      .main-flex .contenido-club .colney .emirates3 {
        height: auto; }
        .main-flex .contenido-club .colney .emirates3 img {
          width: 100%;
          height: auto;
          filter: saturate(50%); }

.main-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white); }
  .main-flex .contenido-historia {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    height: auto; }
    @media only screen and (max-width: 576px) {
      .main-flex .contenido-historia {
        width: 95%; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      .main-flex .contenido-historia {
        width: 95%; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .main-flex .contenido-historia {
        width: 95%; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main-flex .contenido-historia {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .main-flex .contenido-historia {
        width: 90%; } }
    .main-flex .contenido-historia .history-container {
      height: auto;
      padding-bottom: 2rem;
      margin: 85px 0 60px 0;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-historia .history-container .history-container1 {
        height: auto; }
        .main-flex .contenido-historia .history-container .history-container1 .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-historia .history-container .history-container2 {
        height: auto;
        padding: 2rem 0; }
        .main-flex .contenido-historia .history-container .history-container2 p {
          width: 80%;
          margin: 0 auto; }
      .main-flex .contenido-historia .history-container .history-container3 {
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-historia .history-container .history-container3 {
            flex-flow: column nowrap;
            align-items: center; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          .main-flex .contenido-historia .history-container .history-container3 {
            flex-flow: column nowrap;
            align-items: center; } }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          .main-flex .contenido-historia .history-container .history-container3 {
            flex-flow: column nowrap;
            align-items: center; } }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
          .main-flex .contenido-historia .history-container .history-container3 {
            flex-flow: column nowrap;
            align-items: center; } }
        .main-flex .contenido-historia .history-container .history-container3 .history-img {
          width: 40%;
          height: auto;
          border-radius: 40px;
          overflow: hidden;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img {
              width: 80%;
              margin: 1rem 0; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img {
              width: 80%;
              margin: 1rem 0; } }
          @media only screen and (min-width: 768px) and (max-width: 992px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img {
              width: 80%;
              margin: 1rem 0; } }
          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img {
              width: 80%;
              margin: 1rem 0; } }
          .main-flex .contenido-historia .history-container .history-container3 .history-img img {
            width: 100%;
            height: 100%; }
        .main-flex .contenido-historia .history-container .history-container3 .history-img:hover {
          transform: scale(1.2, 1.2); }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img:hover {
              transform: scale(1, 1); } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img:hover {
              transform: scale(1, 1); } }
          @media only screen and (min-width: 768px) and (max-width: 992px) {
            .main-flex .contenido-historia .history-container .history-container3 .history-img:hover {
              transform: scale(1, 1); } }

.main-flex {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  background-image: repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.1) 0px, rgba(189, 189, 189, 0.1) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, white, white); }
  .main-flex .contenido-contacto {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    height: auto; }
    @media only screen and (max-width: 576px) {
      .main-flex .contenido-contacto {
        width: 95%; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      .main-flex .contenido-contacto {
        width: 95%; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .main-flex .contenido-contacto {
        width: 95%; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main-flex .contenido-contacto {
        width: 90%; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      .main-flex .contenido-contacto {
        width: 90%; } }
    .main-flex .contenido-contacto .flex-aboutme {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      margin: 85px 0 60px 0;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-contacto .flex-aboutme .div-flex-me {
        height: auto; }
        .main-flex .contenido-contacto .flex-aboutme .div-flex-me .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
      .main-flex .contenido-contacto .flex-aboutme .about-me {
        display: flex;
        height: auto;
        justify-content: space-around;
        padding: 40px 0 40px 0;
        align-items: center; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-contacto .flex-aboutme .about-me {
            flex-direction: column; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          .main-flex .contenido-contacto .flex-aboutme .about-me {
            flex-direction: column; } }
        .main-flex .contenido-contacto .flex-aboutme .about-me div {
          width: 30%;
          text-align: center; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me div {
              width: 40%; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me div {
              width: 40%; } }
          @media only screen and (min-width: 768px) and (max-width: 992px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me div {
              width: 40%; } }
          @media only screen and (min-width: 992px) and (max-width: 1200px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me div {
              width: 40%; } }
          .main-flex .contenido-contacto .flex-aboutme .about-me div img {
            width: 70%;
            height: auto;
            border-radius: 20px; }
        .main-flex .contenido-contacto .flex-aboutme .about-me p {
          width: 50%; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me p {
              width: 90%;
              margin-top: 60px; } }
          @media only screen and (min-width: 576px) and (max-width: 768px) {
            .main-flex .contenido-contacto .flex-aboutme .about-me p {
              width: 90%;
              margin-top: 60px; } }
    .main-flex .contenido-contacto .flex-form {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      margin: 85px 0 60px 0;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: #26394d 0px 20px 30px -10px; }
      .main-flex .contenido-contacto .flex-form .div-flex-contact {
        height: auto; }
        .main-flex .contenido-contacto .flex-form .div-flex-contact .tittle-text {
          background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0px, rgba(255, 255, 255, 0.04) 2px, transparent 2px, transparent 4px), linear-gradient(0deg, #063672, rgba(45, 106, 187, 0.644));
          text-align: center;
          color: white;
          font-size: 1.3rem;
          padding: 1rem 0 1rem 0;
          color: #FFFFFF;
          text-shadow: 4px 3px 0 #041529;
          font-weight: bold;
          font-weight: 900;
          font-style: italic;
          font-family: "Barlow", sans-serif; }
        .main-flex .contenido-contacto .flex-form .div-flex-contact .tittle-nomargin {
          margin-bottom: 0; }
      .main-flex .contenido-contacto .flex-form .contact-flex {
        height: auto;
        display: flex;
        justify-content: center; }
        @media only screen and (max-width: 576px) {
          .main-flex .contenido-contacto .flex-form .contact-flex {
            display: block; } }
        .main-flex .contenido-contacto .flex-form .contact-flex .contact-form {
          width: 65%;
          text-align: center;
          background-image: url(../imagenes/contacto/form1opacity.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 1rem;
          color: #970000;
          font-size: 1rem; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-contacto .flex-form .contact-flex .contact-form {
              width: 100%; } }
          .main-flex .contenido-contacto .flex-form .contact-flex .contact-form input, .main-flex .contenido-contacto .flex-form .contact-flex .contact-form textarea {
            width: 80%;
            margin: 1rem 3rem 1rem 3rem;
            border: none;
            border-bottom: 0.2rem solid #970000;
            outline: none;
            color: #970000;
            resize: none;
            background: none; }
            .main-flex .contenido-contacto .flex-form .contact-flex .contact-form input ::placeholder, .main-flex .contenido-contacto .flex-form .contact-flex .contact-form textarea ::placeholder {
              opacity: 1;
              color: #970000; }
          .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contactBlock {
            display: block;
            font-size: 1.2rem;
            font-weight: bold; }
          .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contact-button {
            background: #970000;
            opacity: 0.25;
            color: white;
            border: none;
            font-size: 1rem;
            text-transform: uppercase;
            padding: 0.5em 0 0.5em 0;
            width: 25%;
            border-radius: 10px;
            font-weight: bold; }
            @media only screen and (max-width: 576px) {
              .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contact-button {
                opacity: 1; } }
            @media only screen and (min-width: 576px) and (max-width: 768px) {
              .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contact-button {
                opacity: 1; } }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
              .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contact-button {
                opacity: 1; } }
            .main-flex .contenido-contacto .flex-form .contact-flex .contact-form .contact-button:hover {
              opacity: 1; }
        .main-flex .contenido-contacto .flex-form .contact-flex .contact-img {
          width: 35%;
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/contacto/form2.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
          @media only screen and (max-width: 576px) {
            .main-flex .contenido-contacto .flex-form .contact-flex .contact-img {
              visibility: hidden; } }
